$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

// @import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400';
// @import 'https://fonts.googleapis.com/css?family=Lato:300';
@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,500,600');

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #fff;
  padding: 0.2em 0;
}

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

@-webkit-keyframes fadeOut { from { opacity:1; } to { opacity:0; } }
@-moz-keyframes fadeOut { from { opacity:1; } to { opacity:0; } }
@keyframes fadeOut { from { opacity:1; } to { opacity:0; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fade-in.one {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.fade-in.two {
  -webkit-animation-delay: 1.7s;
  -moz-animation-delay: 1.7s;
  animation-delay: 1.7s;
}

.fade-in.three {
  -webkit-animation-delay: 2.7s;
  -moz-animation-delay: 2.7s;
  animation-delay: 2.7s;
}

.fade-in.four {
  -webkit-animation-delay: 3.7s;
  -moz-animation-delay: 3.7s;
  animation-delay: 3.7s;
}

.fade-out {
  opacity:1;  /* make things invisible upon start */
  -webkit-animation:fadeOut ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeOut ease-in 1;
  animation:fadeOut ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:2s;
  -moz-animation-duration:2s;
  animation-duration:2s;

  -webkit-animation-delay: 7s;
  -moz-animation-delay: 7s;
  animation-delay: 7s;
}

*::-moz-selection {
  background: #be2d32 none repeat scroll 0 0;
  color: #fdf9ee;
}

body, html {
    // font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Dosis', sans-serif;
}

body {
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

// body#background {
//   background:
//     linear-gradient(
//       rgba(0, 0, 0, 0.7),
//       rgba(0, 0, 0, 0.7)
//     ),
//     url(../images/training-train-lime-barbell-39688.jpeg) no-repeat 50% 50% fixed;
//   background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   -webkit-background-size: cover;
// }

main > section {
  min-height: 100vh;
  overflow: hidden;
  top: 0;
  width: 100vw;
  transition: all 0.3s cubic-bezier(0.475, 0.005, 0.135, 0.985) 0s;
  box-shadow: -2px 0 5px 0 rgba(50, 50, 50, 0.45);
}

main > section:not(.active) {
  cursor: pointer;
}

main > section, nav {
  position: fixed;
}

main > section > aside {
  height: 100vh;
  position: absolute;
  top: 0;
  width: 3vw;
  z-index: 2;
}

main > section > aside header {
  padding: 18px;
  width: 2vw;
  font-size: 1rem;
  line-height: 1.2em;
  position: absolute;
  text-align: center;
  word-break: break-all;
  text-transform: uppercase;
  z-index: 1;
}

main > section > .container {
  height: 100%;
  overflow-x: hidden;
  position: absolute;
  width: 100%;
}

h1, h2, h3, h4 {
  letter-spacing: 0.3em;
  text-transform: uppercase;
  line-height: 1.7em;
}

h1, h2, h3, h4, p {
  font-size: 1.2em;
  font-weight: 500;
  margin: 0;
}

h1, h2, h3, h4, legend, p, td, th, ul {
  padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav,
section, summary {
  display: block;
}

#first {
  background-color: #151515;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(../images/first-bg.jpeg) no-repeat 50% 50% fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

#first, #first a {
  color: #fdf9ee;
}

#first #intro {
  // background: #151515 none no-repeat scroll center center / cover;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

#first .container > article {
  padding: 4vw 4vw 9vw 9vw;
}

#second {
  background-color: #fdf9ee;
  // background:
  //     linear-gradient(
  //       rgba(0, 0, 0, 0.7),
  //       rgba(0, 0, 0, 0.7)
  //     ),
  //     url(../images/second-bg.jpg) no-repeat 3vw 50% fixed;
  // background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // -webkit-background-size: cover;
  transform: translate3d(94vw, 0px, 0px);
}

#second:hover {
  background-color: #fdf9ee;
  transform: translate3d(93.5vw, 0px, 0px);
}

#second.active, #second.active:hover, #second.subactive {
  transform: translate3d(3vw, 0px, 0px);
}

#third {
  background-color: #c0392b;
  transform: translate3d(97vw, 0px, 0px);
  color: #fdf9ee;
}

#third:hover {
  background-color: #c0392b;
  transform: translate3d(96.5vw, 0px, 0px);
}

#third.active, #third.active:hover, #third.subactive {
  transform: translate3d(6vw, 0px, 0px);
}

// #fourth {
//   background-color: #2c3e50;
//   transform: translate3d(97vw, 0px, 0px);
// }
//
// #fourth:hover {
//   background-color: #2c3e50;
//   transform: translate3d(96.5vw, 0px, 0px);
// }
//
// #fourth.active, #fourth.active:hover, #fourth.subactive {
//   transform: translate3d(9vw, 0px, 0px);
// }

.logo {
  position: fixed;
  top: 10px;
  right: 10px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  // border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #fff;
  // border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  background: transparent;
  text-align: center;
  // border-bottom: 1px solid #e5e5e5;
  color: #e5e5e5;
  position: absolute;
  bottom: 100px;
  text-align: right;
  font-weight: 100;
  line-height: 2em;

  p {
    // font-weight: bolder;
    font-size: 30px;
  }

  span {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 36px;
  }

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
