<div class="row">
  <div class="col-md-8">
    <article>
      <h1>Mission</h1>
      <p>Our mission is to change the way fitness is done! Whether it’s to move
        better, look better, perform better or feel better; by educating our clients
        on the right way to train, they reach their goals.</p>
    </article>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <article>
      <p>"I have been working with Trevor for almost five years now and I have
        been very happy with the vast knowledge and flexibility in training
        methods he brings out in my workouts.  Trevor not only has taken time to
        work on my physical training while he trains me, but has helped me
        tremendously with nutrition and other aspects of my overall well-being
        too. He has a very respectful and positive approach to training, which
        has been nothing short of awesome for me." -Jen</p>
    </article>
  </div>
  <div class="col-md-4">
    <img src="images/testi-jen.jpg" alt="">
  </div>
</div>

<div class="row">
  <div class="col-md-7">
    <img src="images/testi-raul.jpg" alt="">
  </div>
  <div class="col-md-4">
    <article>
      <p>"I’ve battled with my weight problem for years now—always felt tired,
        moody and hungry. At my heaviest, I weighed 284 pounds and was not happy
        with myself.
      </p><br>
      <p>"One day, I had the courage to sign up and start training with Trevor.
        Sure, it was hard at the beginning, and some days were grueling. My
        diet wasn’t the best, either—fast food and high in pastas, breads,
        starches and fat. With the support of Trevor and our “workout team,”
        I have changed my diet completely and love going to work out.
      </p><br>
      <p>"Trevor’s attention to detail in the workout routine and my form have
        allowed me to accomplish a huge amount of goals we set at the beginning
        of my “clean lifestyle” journey. I have noticed a significant reduction
        in body fat as well as a huge difference in energy and flexibility. I
        started wearing a size 40 pair of jeans; I currently wear a size 34. I
        dropped my shirt size from an XL to a medium.
      </p><br>
      <p>"I can honestly say that I’m in the best shape of my adult life, and
        with Trevor’s help I continue to make progress. His emphasis on always
        keeping my workouts evolving has been, in my opinion, the key to my
        success.
      </p><br>
      <p>"I will be grateful for his commitment to health for a lifetime.
        Thanks, Trevor!" -Raul
      </p>
    </article>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <article>
      <p>"There are no cookie-cutter workouts with Trevor. You get the best
        workout for your body and personality. He is committed to you and your
        goals, and he never lets you give up.
      </p><br>
      <p>"Always on top of the latest workout, Trevor puts you ahead of
        everyone else. I am 60 pounds lighter and have kept it off for two
        years. Not only did I get efficient results, but Trevor inspired me to
        be passionate about fitness as well. You can now find me training
        people with similar weight-loss goals I once had.
      </p><br>
      <p>"Trevor not only changed my life physically, but changed my career and
        outlook on life." -Tiffany
      </p>
    </article>
  </div>
  <div class="col-md-4">
    <img src="images/testi-tiffany.jpg" alt="">
  </div>
</div>
